.wrap__header.clearfix
	header
		a.logo(href="#")
		ul.share.row_right
			li
				a.vk(href="#")
			li
				a.tw(href="#")
			li
				a.fa(href="#")
			li
				a.gi(href="#")
		a#touch-menu(href="#")
	.gradient__line