doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width")
		<!--[if lt IE 9]>
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		<!--[if lt IE 9]>
		script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
		<![endif]-->
		link(rel="stylesheet" href="style.css")
		title Abalmaz.Spartak
	body
		.wrapper
			include header
			include main
			include footer
		script(src="layout/utilities/jquery/jquery.min.js")
		script(src="layout/js/script.js")