html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
menu, nav, output, ruby, section, summary,
figure, figcaption, footer, header,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row_left {
  float: left; }

.row_right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

html,
body {
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #0ff; }

.gradient__line {
  background: -webkit-linear-gradient(left, #e7eff3, #1c667a, #e7eff3);
  height: 3px;
  position: relative;
  width: 100%; }

body {
  background-color: #eff3f7; }

html {
  font-size: 16px; }

.wrapper {
  background-image: url("images/bg-min.png");
  font-family: fira_sansregular;
  color: #4a545d;
  font-size: 1rem; }

.wrap__header {
  height: 100px;
  background-color: #eff3f3;
  margin-bottom: 30px; }
  .wrap__header header {
    height: 100%;
    max-width: 1150px;
    margin: 0 auto;
    position: relative; }

.logo {
  background: url("images/logo-min.png") no-repeat;
  width: 50px;
  height: 45px;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 40px; }

.share {
  position: relative;
  top: 30%; }
  .share li {
    display: inline-block;
    margin-right: 21px; }
    .share li a {
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      background-image: url("images/share.png");
      width: 40px;
      height: 40px; }
    .share li .vk {
      background-position: -50px 41px; }
      .share li .vk:hover {
        background-position: 142px 1px; }
    .share li .tw {
      background-position: -102px 41px; }
      .share li .tw:hover {
        background-position: 90px 1px; }
    .share li .fa {
      background-position: 1px 41px; }
      .share li .fa:hover {
        background-position: 1px 1px; }
    .share li .gi {
      background-position: 39px 41px; }
      .share li .gi:hover {
        background-position: 39px 1px; }

#touch-menu {
  display: none;
  background: url(images/touch__menu.png) no-repeat;
  background-position: 8px 10px;
  border-radius: 0;
  position: absolute;
  right: 30px;
  top: 11px;
  width: 40px;
  height: 40px; }

.wrap__main {
  max-width: 950px;
  margin: 0 auto;
  position: relative; }

nav ul {
  background-color: #eff3f7;
  border-radius: 5px;
  overflow: hidden; }
  nav ul li {
    border-bottom: 2px solid #3ba8c0; }
    nav ul li:last-child {
      border-bottom: none;
      color: #959aa8;
      font-size: 1.3rem;
      padding: 20px 15px; }
    nav ul li:first-child {
      font-size: 1.4rem; }

nav a {
  text-decoration: none;
  width: 200px;
  padding: 20px 20px 15px;
  font-size: 1.3rem;
  display: block;
  color: #3ba8c0; }
  nav a:hover {
    background-color: #3ba8c0;
    color: #fff; }

.top__nav {
  margin-bottom: 20px; }

.nav__contacts {
  clear: left;
  margin-bottom: 90px; }
  .nav__contacts ul {
    border-radius: 5px;
    overflow: hidden; }
    .nav__contacts ul li {
      color: #fbfcfd; }
      .nav__contacts ul li a {
        position: relative;
        display: block;
        padding: 15px 0 10px 30px;
        text-decoration: none;
        color: #fff;
        background-position: 0 0;
        cursor: pointer; }
        .nav__contacts ul li a:hover {
          color: black; }
        .nav__contacts ul li a i {
          display: inline-block;
          position: absolute;
          left: 5px;
          top: 15.5px;
          background-image: url("images/contakt.png");
          width: 21px;
          height: 21px; }
          .nav__contacts ul li a i.s__mail {
            background-position: 0 0;
            top: 14px;
            left: 4px; }
          .nav__contacts ul li a i.s__phone {
            background-position: 0 -34px;
            top: 3px;
            left: 4px;
            height: 27px; }
          .nav__contacts ul li a i.s__skype {
            background-position: 0 21px;
            top: 9px;
            left: 4px; }
    .nav__contacts ul .mail {
      background-color: #41b9d4; }
    .nav__contacts ul .phone {
      background-color: #48cbe8; }
    .nav__contacts ul .skype {
      background-color: #51daf8; }
    .nav__contacts ul li:first-child {
      background-color: #3ba8c0;
      padding: 15px 7px 7px; }

.contact {
  max-width: 650px;
  min-height: 321px;
  border-radius: 3px;
  background-color: #eff3f7; }
  .contact h1 {
    display: inline-block;
    width: 325px;
    margin-right: 175px;
    padding: 0 25px;
    color: #3ba8c0;
    font-size: 1.7rem;
    border-bottom: 2px solid #3ba8c0;
    line-height: 70px;
    text-shadow: 0 1px 0 #666565;
    font-weight: 600; }
  .contact .img {
    background-image: url("images/gomer-min.png");
    background-size: 160px;
    border-radius: 50%;
    border: 2px solid #3ba8c0;
    background-color: #f5fafc;
    margin: 25px 0 0 30px;
    height: 150px;
    width: 150px;
    display: inline-block; }
  .contact li {
    line-height: 40px; }

.worksheet__list {
  margin: 10px 30px 0 0; }
  .worksheet__list .worksheet__what,
  .worksheet__list .worksheet__info,
  .worksheet__list .skills {
    display: inline-block; }
    .worksheet__list .worksheet__what .worksheet__what,
    .worksheet__list .worksheet__info .worksheet__what,
    .worksheet__list .skills .worksheet__what {
      font-size: 1.1rem; }
    .worksheet__list .worksheet__what .worksheet__info,
    .worksheet__list .worksheet__info .worksheet__info,
    .worksheet__list .skills .worksheet__info {
      font-size: 0.8rem; }
    .worksheet__list .worksheet__what .skills,
    .worksheet__list .worksheet__info .skills,
    .worksheet__list .skills .skills {
      line-height: 10px;
      padding: 5px 10px;
      border-radius: 3px;
      color: #fff;
      background: -webkit-linear-gradient(left, #3ba8c0 40%, #e50 41%); }

.flex-container {
  display: -webkit-flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around; }
  .flex-container a {
    background-color: #eee;
    display: inline-block;
    width: 100%;
    line-height: 35px; }
  .flex-container .block {
    margin: 15px 0;
    text-align: center;
    width: 200px;
    border-radius: 3%;
    border: 1px solid #b6b6b6;
    overflow: hidden; }
  .flex-container .whiteSquare {
    background: url("images/whitesquare.jpg");
    background-size: 100%;
    background-repeat: no-repeat; }
  .flex-container .wrap-img {
    position: relative;
    height: 120px; }
    .flex-container .wrap-img:hover .bg__hover {
      display: block; }
    .flex-container .wrap-img .bg__hover {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      display: none;
      text-decoration: none;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0; }
  .flex-container .icon {
    position: relative;
    top: 35%;
    color: #f00; }
  .flex-container figcaption {
    margin: 10px; }

.wrap__footer {
  background-color: #eff3f3;
  height: 60px; }
  .wrap__footer footer {
    padding-top: 17px;
    margin: 0 auto;
    max-width: 800px;
    position: relative; }
    .wrap__footer footer a {
      position: absolute;
      margin-left: 25px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: #9c9c9c;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
      text-decoration: none;
      display: inline-block; }
      .wrap__footer footer a i {
        position: absolute;
        top: -7px;
        left: -25px;
        display: inline-block;
        background-image: url("images/locked.png");
        background-position: 0 -11px;
        width: 25px;
        height: 20px; }
      .wrap__footer footer a:hover i {
        background-position: -32px 1px; }
  .wrap__footer time {
    margin-left: 40%; }
  .wrap__footer .copy {
    display: inline-block; }

@font-face {
  font-family: 'fira_sansregular';
  src: url("../utilities/font/fira/firasans-regular.eot");
  src: url("../utilities/font/fira/firasans-regular.eot?#iefix") format("embedded-opentype"), url("../utilities/font/fira/firasans-regular.woff") format("woff"), url("../utilities/font/fira/firasans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media screen and (min-width: 321px) and (max-width: 900px) {
  .wrap__header {
    margin-bottom: 50px; }
    .wrap__header .share {
      right: 90px; }
    .wrap__header #touch-menu {
      display: block;
      top: 30px;
      right: 40px; }
  .nav__contacts ul {
    position: relative;
    top: -50px;
    margin-bottom: 30px; }
  .wrap__main .contact {
    float: none;
    margin: 0 auto 70px; }
  .wrap__main .nav__contacts {
    margin-bottom: 0;
    float: none; }
    .wrap__main .nav__contacts ul,
    .wrap__main .nav__contacts li {
      display: inline-block; }
    .wrap__main .nav__contacts ul {
      border-radius: 0;
      font-size: 0;
      width: 100%; }
    .wrap__main .nav__contacts li {
      width: 33.3%;
      min-width: 255px;
      font-size: 1rem;
      text-align: center; }
      .wrap__main .nav__contacts li:first-child {
        display: none; }
      .wrap__main .nav__contacts li .s__mail {
        left: 10px; }
      .wrap__main .nav__contacts li .s__phone {
        left: 40px; }
      .wrap__main .nav__contacts li .s__skype {
        left: 80px; }
  .wrap__main .top__nav {
    display: none;
    box-shadow: 1px 3px 9px 1px rgba(13, 16, 7, 0.35);
    background-color: #fbfcfd;
    border-radius: 5px;
    height: 170px;
    position: absolute;
    top: -70px;
    right: 0; }
  .wrap__footer footer a {
    margin-left: 170px; } }

@media screen and (max-width: 764px) {
  .wrap__main .nav__contacts li {
    width: 100%; }
  .worksheet__list {
    margin: 10px 10px 0 0; } }

@media screen and (max-width: 650px) {
  .wrap__main .contact {
    margin: 0 12px 70px; }
    .wrap__main .contact h1 {
      line-height: 45px;
      width: 80%;
      padding-top: 10px;
      margin-right: 0; } }

@media screen and (max-width: 610px) {
  .wrap__main .contact {
    text-align: center; }
    .wrap__main .contact .img {
      margin: 25px 0 0; }
  .worksheet__list {
    float: none; }
  .wrap__footer footer a {
    margin-left: 30%; } }

@media screen and (max-width: 450px) {
  .wrap__header .share {
    display: none; } }

@media screen and (max-width: 400px) {
  .wrapper {
    min-width: 320px; }
  .wrap__main .contact {
    margin: 0 12px 10px; }
  .contact h1 {
    font-size: 1.3rem; }
  .wrap__footer footer a {
    margin-left: 15%; }
  .wrap__footer time {
    margin-left: 30%; }
  #touch-menu {
    display: block;
    top: 27px; }
  .top__nav {
    display: none;
    position: absolute;
    right: 0;
    top: -25px;
    border-radius: 3px;
    box-shadow: 1px 3px 9px 1px rgba(13, 16, 7, 0.35);
    padding-bottom: 0; }
  .nav__contacts ul {
    position: relative;
    top: 15px;
    margin-bottom: 50px; }
  .nav__contacts {
    margin-bottom: 65px; }
    .nav__contacts ul {
      border-radius: 0; }
    .nav__contacts li {
      display: inline-block;
      width: 300px; }
      .nav__contacts li:first-child {
        display: none; } }
