<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width"><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" href="../utilities/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../utilities/owlcarousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
    <title>whitesquare</title>
  </head>
  <body>
    <div class="top__line"></div>
    <div class="wrapper"><a id="touch-menu" href="#">Menu</a>
      <div class="top__header clearfix"><a class="sprite sprite__logo-top row_left" href="#"></a>
        <form class="search row_right">
          <input type="search" name="q" placeholder="Search">
          <input type="submit" value="Go">
        </form>
      </div>
      <nav class="nav__header">
        <ul class="nav">
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Home</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">About us</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Services</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Partners</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Customers</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Projects</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Careers</a></li>
          <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Contact</a></li>
        </ul>
      </nav>
      <div class="slider">
        <div class="tabs">
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1" title="Вкладка 1">Lorem Ipsum Dolop</label>
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2" title="Вкладка 2">Ultricies Pellentesque</label>
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3" title="Вкладка 3">Aliquam ipsum</label>
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4" title="Вкладка 4">Nullam sed mauris ut</label>
          <section id="content-tab1">
            <h1>Fusce vitae nibh quis diam fermentum</h1>
            <p>Etiam adipiscing ultricies commodo.</p>
          </section>
          <section id="content-tab2">
            <h1>Fusce vitae nibh quis diam fermentum</h1>
            <p>Etiam adipiscing ultricies commodo.</p>
          </section>
          <section id="content-tab3">
            <h1>Fusce vitae nibh quis diam fermentum</h1>
            <p>Etiam adipiscing ultricies commodo.</p>
          </section>
          <section id="content-tab4">
            <h1>Fusce vitae nibh quis diam fermentum</h1>
            <p>Etiam adipiscing ultricies commodo.</p>
          </section>
        </div>
      </div>
      <div class="owl-carousel">
        <div class="slider__info">
          <h1>Fusce vitae nibh quis diam fermentum</h1>
          <p>Etiam adipiscing ultricies commodo.</p>
        </div>
        <div class="slider__info">
          <h1>Fusce vitae nibh quis diam fermentum</h1>
          <p>Etiam adipiscing ultricies commodo.</p>
        </div>
        <div class="slider__info">
          <h1>Fusce vitae nibh quis diam fermentum</h1>
          <p>Etiam adipiscing ultricies commodo.</p>
        </div>
        <div class="slider__info">
          <h1>Fusce vitae nibh quis diam fermentum</h1>
          <p>Etiam adipiscing ultricies commodo.</p>
        </div>
      </div>
      <main>
        <section class="clearfix">
          <article class="c__both two">
            <div class="h__line">
              <h5>About WhiteSquare</h5>
            </div><img class="big" src="#" width="140px" height="140px" alt="Block">
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p><span><a href="#">Read more</a></span>
          </article>
          <article class="c__both two">
            <div class="h__line">
              <h5>A word from OUR ceo</h5>
            </div><img class="big" src="#" width="140px" height="140px" alt="Block">
            <p>“In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac.”</p><span> 
              <address>Yane Naumoski, CEO</address></span>
          </article>
        </section>
        <section class="clearfix">
          <article class="three">
            <div class="h__line">
              <h5>Services</h5>
            </div>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p><span><a href="#">Read more</a></span>
          </article>
          <article class="three three__center">
            <div class="h__line">
              <h5>Our teams</h5>
            </div><img class="big" src="#" width="40px" height="40px" alt="Block">
            <h6>Lorem Ipsum</h6>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</p><img class="big" src="#" width="40px" height="40px" alt="Block">
            <h6>Lorem Ipsum</h6>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</p><img class="big" src="#" width="40px" height="40px" alt="Block">
            <h6>Lorem Ipsum</h6>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</p>
          </article>
          <article class="three">
            <div class="h__line">
              <h5>27/7/365 support</h5>
            </div>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p><span><a href="#">Read more</a></span>
          </article>
        </section>
        <section class="clearfix">
          <article class="bottom">
            <div class="h__line">
              <h5>Our clients</h5>
            </div><img src="images/logos__com.png" alt="Block">
          </article>
        </section>
      </main>
    </div>
    <div class="page-footer">
      <footer>
        <div class="h__footer twitter">
          <h5>Twitter feed</h5><span><a href="#">23 oct</a></span>
          <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
        </div>
        <div class="h__footer sitemap">
          <h5>Sitemap</h5>
          <div class="nav__footer">
            <ul>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Home</a></li>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">About</a></li>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Services</a></li>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Partners</a></li>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Support</a></li>
              <li><a href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="h__footer social">
          <h5>Social networks</h5><a class="icon icon__large" href="#"></a><a class="icon icon__large facebook" href="#"></a><a class="icon icon__large google" href="#"></a><br><a class="icon icon__small vimeo" href="#"></a><a class="icon icon__small youtube" href="#"></a><a class="icon icon__small flickr" href="#"></a><a class="icon icon__small instagram" href="#"></a><a class="icon icon__small rss" href="#"></a>
        </div>
        <p class="copy">Copyright &copy; 2012 Whitesquare. A <span class="underline">pcklab</span><span>creation</span><a class="sprite sprite__logo-footer" href="#"></a></p>
      </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="../utilities/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>