.content.wrap__main.clearfix
	.contact.row_right.clearfix
		h1 Основная информация
		.img
		ul.worksheet__list.row_right
			li.worksheet__item
				.worksheet__what Меня зовут:
				.worksheet__info Абальмаз Спартак Викторович
			li.worksheet__item
				.worksheet__what Мой город:
				.worksheet__info Харьков, Украина
			li.worksheet__item
				.worksheet__what Моя специализация:
				.worksheet__info FRONTEND разработчик
			li.worksheet__item
				.worksheet__what Ключевые навыки:
				.worksheet__info
					.skills.s__html pug
					.skills.s__css scss
					.skills.s__js js
					.skills.s__git git
					.skills.s__git gulp
	nav.row_left.top__nav
		ul
			li
				a(href="index.html") Обо мне
			li
				a(href="my_works.html") Мои работы
			li Связаться со мной
	.nav__contacts.row_left
		ul
			li Контакты
			li
				a.mail.s__mail(href="#") abalmaz.spartak@yandex.ua
			li
				a.phone.s__phone(href="#") +380 99 35 448 35
			li
				a.skype.s__skype(href="#") Sp1r1t