.wrap__main.clearfix
	.contact.row_right
		h1 Мои работы
		.wrapp
			.flex-container
				figure.block
					.wrap-img.whiteSquare
						a.bg__hover(href="#")
							//- i.icon link
					a(href="https://spartak987.github.io/layout/WhiteSquare/layout/index.html") WhiteSquare
					//- figcaption first works
				figure.block
					.wrap-img
						a.bg__hover(href="#")
							//- i.icon link
					//- a(href="#") link
					//- figcaption Lorem ipsum dolor sit amets
				figure.block
					.wrap-img
						a.bg__hover(href="#")
							//- i.icon link
					//- a(href="#") link
					//- figcaption Lorem ipsum dolor sit amets
	nav.top__nav.row_left.nav__header
		ul
			li
				a(href="index.html") Обо мне
			li
				a(href="my_works.html") Мои работы
			li Связаться со мной
	.nav__contacts.row_left
		ul
			li Контакты
			li
				a.mail(href="#") abalmaz.spartak@yandex.ua
					i.s__mail
			li
				a.phone(href="#") +380 99 35 448 35
					i.s__phone
			li
				a.skype(href="#") Sp1r1t
					i.s__skype